body {
    min-height: 100vh;
}

section#page-content {
    min-height: calc(100vh - 164px);
}

.weather-card, .forecast-card {
    margin-bottom: 20px;
    width: 100%; /* Устанавливаем ширину карточки на весь экран */
    max-width: 600px; /* Устанавливаем максимальную ширину карточки */
    margin: 0 auto; /* Центрируем карточку */
    border: 1px solid #ddd; /* Уменьшаем толщину рамки */
}

.weather-card .weather-card-delete-form {
    top: 8px;
    right: 8px;
}

.weather-card img, .forecast-card img {
    max-height: 150px;
    object-fit: contain;
}

.weather-logo {
    background-image: url("weather-app.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;
}

.location-search-input-group .clear-input-button {
    border-color: rgb(222, 226, 230);
}

.weather-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}